body {
    background-color: beige;
}

#board,
#sidePanel {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

#board {
    font-size: 0;
    margin-right: 30px;
}

.square {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    user-select: none;
}

.square.selected {
    background-color: #add8e6;
}

#instructions {
    width: 325px;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 25px;
}

#solve {
    font-size: 18px;
}

#message {
    color: #ff4c00;
    font-size: 50px;
    margin: 0px;
}

#message.computerSolved {
    width: 325px;
    font-size: 30px;
}
